html, body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    
  
}

.left img{
     height:28px;
     width: 45px;
}
.container{
  display: flex;
   padding: 0 10vw;

}
nav ul li {
    list-style: none;
    display: flex;
    padding: 0 12px;
    font-size: small;
    
    
}
.flex{
    display: flex;
    align-items: center;
}
.item-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.uppercase{
    text-transform: uppercase;
}
.semibold{
    font-weight: bolder;
}
.space-around{
    justify-content: space-around;
}
.mx-2{
    margin-left: 12px;
    margin-right: 12px;
}
.section1{
    background-color: rgb(218, 215, 215);
    height: 120vh;
   
}
header{
    position: fixed;
    background: white;
    top: 0;
    height: 66px;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    

}
.search{
    width: 34vw;
    padding: 7px 17px;
    border: .5px solid grey;
    border-radius: 5px;
  
}
.background contain{
   position: fixed;
}
.homeImg{
    width:80vw ;
    margin: 12px 0px;
    
}
/* .itemImg{
    width:20vw ;
    margin: 12px 0px;
    flex-wrap: wrap;
    margin 0px 12px
} */
div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  .heading{
   text-align: center;
   font-family: 'Roboto', sans-serif;
  }
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    color: black;
    cursor: pointer;
  }
  .responsive:hover {
    background-color: bisque;
  }